/* ---- Responsive Grid ---- */

.container {
  position: relative;
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1.25em;
  box-sizing: border-box;
  overflow: hidden;
}

.col {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 85%;
  }

  .col {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }

  .quarter.col {
    width: 25%;
  }

  .third.col {
    width: 33.3333333333%;
  }

  .half.col {
    width: 50%;
  }

  .whole.col {
    width: 100%;
  }
}

/* --------- Reset --------- */

div, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  font: 100% 'PT Sans', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7F9;
}

.background-img {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url('../images/coding-2.jpg');
  background-size: cover;
  overflow: hidden;
}

/* --------- Header --------- */

header.index-head {
  height: 100vh;
  display: table;
}

.header-content {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.header-content-top {
  position: relative;
  visibility: hidden;
}

.mt-logo {
  background-color: #1db896;
  background-size: 100px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 1.85;
  font-size: 2em;
  color: #F7F7F9;
  margin-bottom: 0.3em;

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.mt-logo:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}

.header-content h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.1em;
}

.header-content p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.header-content span {
  color: #1db896;
  font-weight: bold;
}

.down-arrow {
  position: relative;
  top: 40px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  transition: all .1s linear;
}

.down-arrow:hover {
  top: 45px;
}

hr {
  border-width: 0;
  border-top: 1px solid #e1e1e1;
  visibility: hidden;
}

/* ------ Header, Nav ------- */

.index-nav {
  margin-bottom: 7em;
  visibility: hidden;
}

.index-nav a {
  line-height: 2.5;
  text-decoration: none;
  position: relative;
  margin-left: 0.2em;
  color: #fff;
}

.index-nav a:before {
  content: "";
  background-color: #1db896;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 1.2em;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.index-nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.index-icon {
  border-radius: 50%;
  border: 4px solid #1db896;
  padding: 5px;
  position: relative;
  top: 10px;
}

/* ---- Section, Common ---- */

section h1 {
  margin-bottom: 1em;
  color: rgb(96,102,107);
}

section {
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}

section ul {
  list-style-position: inside;
  color: #1db896;
  font-size: 1em;
}

section ul span {
  color: black;
}

.yellow-underline {
  border-bottom: 2px solid rgb(235, 186, 25);
}

.item {
  margin-bottom: 2em;
}

p {
  font-size: 1.2em;
}

#about-me, #projects {
  background-color: #fff;
}

/* --- Projects Overlay --- */

.snake-overlay {
  background: rgba(235,186,25,0.85);
}

.arty-van-overlay {
  background-color: rgba(221,139,120,0.8);
}

.nextbus-overlay {
  background-color: rgba(144,199,204,0.9);
}

.this-website-overlay {
  background-color: rgba(115,146,184,0.8);
}

.img-overlay {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.img-overlay .img-overlay-bg, .img-overlay .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.img-overlay img {
    display: block;
}

.img-overlay h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 0.9em;
  border-bottom: 1px solid #fff;
  background: transparent;
  margin: 20px 40px 0px 40px;
  padding-bottom: 5px;
  transform: translate(0, -100px);
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate(0, -100px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transform: -moz-translate(0, -100px);
  -moz-transition: all 0.2s ease-in-out;
  -o-transform: -o-translate(0, -100px);
  -o-transition: all 0.2s ease-in-out;
}

.img-overlay p {
  font-size: 0.8em;
  position: relative;
  color: #fff;
  padding: 10px 20px 0;
  text-align: center;
}

.img-overlay a {
  text-decoration: none;
}

.img-overlay a:hover {
  text-decoration: underline;
  color: #fff;
}

.img-overlay img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.img-overlay .img-overlay-bg {
  opacity: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.img-overlay p {
  transform: translate(0, 400px);
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate(0, 400px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transform: translate(0, 400px);
  -moz-transition: all 0.2s ease-in-out;
  -o-transform: translate(0, 400px);
  -o-transition: all 0.2s ease-in-out;
}

.img-overlay:hover .img-overlay-bg {
  opacity: 1;
}

.img-overlay:hover h2 {
  transform: translate(0px,0px);
  transition-delay: 0.3s;
  -webkit-transform: translate(0px,0px);
  -webkit-transition-delay: 0.3s;
  -moz-transform: translate(0px,0px);
  -moz-transition-delay: 0.3s;
  -o-transform: translate(0px,0px);
  -o-transition-delay: 0.3s;
}

.img-overlay:hover p {
  transform: translate(0px,0px);
  transition-delay: 0.4s;
  -webkit-transform: translate(0px,0px);
  -webkit-transition-delay: 0.4s;
  -moz-transform: translate(0px,0px);
  -moz-transition-delay: 0.4s;
  -o-transform: translate(0px,0px);
  -o-transition-delay: 0.4s;
}

footer {
  background-color: rgb(235, 186, 25);
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 1.5em;
}


/* ---- Media Queries ----- */

@media (min-width: 550px) {
  .background-img {
    background-attachment: fixed;
  }

  .header-content h1 {
    font-size: 4em;
  }

  .header-content p {
    font-size: 2em;
  }

  .img-overlay h2 {
    font-size: 1.3em;
  }

  .img-overlay p {
    font-size: 1em;
  }

  p {
    font-size: 1.5em;
  }

  section ul {
    font-size: 1.2em;
  }
}

@media (min-width: 768px) {
  .header-content {
    text-align: center;
  }

  .index-nav a {
    font-size: 1.1em;
  }

  .index-icon {
    top: 14px;
    width: 22px;
    height: 22px;
  }

  .icon-social {
    width: 41px;
    height: 41px;
  }

  section {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .img-overlay h2 {
    font-size: 0.9em;
  }

  .img-overlay p {
    font-size: 0.75em;
  }
}