/* ---- Responsive Grid ---- */

.container {
  position: relative;
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1.25em;
  box-sizing: border-box;
  overflow: hidden;
}

.col {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 85%;
  }

  .col {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }

  .quarter.col {
    width: 25%;
  }

  .third.col {
    width: 33.3333333333%;
  }

  .half.col {
    width: 50%;
  }

  .whole.col {
    width: 100%;
  }
}

/* --------- Reset --------- */

div, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  font: 100% 'PT Sans', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7F9;
}

.background-img {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url('../images/coding-2.jpg');
  background-size: cover;
  overflow: hidden;
}

/* --------- Header --------- */

header.index-head {
  height: 100vh;
  display: table;
}

.header-content {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.header-content-top {
  position: relative;
  visibility: hidden;
}

.mt-logo {
  background-color: #1db896;
  background-size: 100px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 1.85;
  font-size: 2em;
  color: #F7F7F9;
  margin-bottom: 0.3em;

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.mt-logo:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}

.header-content h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.1em;
}

.header-content p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.header-content span {
  color: #1db896;
  font-weight: bold;
}

.down-arrow {
  position: relative;
  top: 40px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  transition: all .1s linear;
}

.down-arrow:hover {
  top: 45px;
}

hr {
  border-width: 0;
  border-top: 1px solid #e1e1e1;
  visibility: hidden;
}

/* ------ Header, Nav ------- */

.index-nav {
  margin-bottom: 7em;
  visibility: hidden;
}

.index-nav a {
  line-height: 2.5;
  text-decoration: none;
  position: relative;
  margin-left: 0.2em;
  color: #fff;
}

.index-nav a:before {
  content: "";
  background-color: #1db896;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 1.2em;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.index-nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.index-icon {
  border-radius: 50%;
  border: 4px solid #1db896;
  padding: 5px;
  position: relative;
  top: 10px;
}

/* ---- Section, Common ---- */

section h1 {
  margin-bottom: 1em;
  color: rgb(96,102,107);
}

section {
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}

section ul {
  list-style-position: inside;
  color: #1db896;
  font-size: 1em;
}

section ul span {
  color: black;
}

.yellow-underline {
  border-bottom: 2px solid rgb(235, 186, 25);
}

.item {
  margin-bottom: 2em;
}

p {
  font-size: 1.2em;
}

#about-me, #projects {
  background-color: #fff;
}

/* --- Projects Overlay --- */

.ionic-overlay {
  background: rgba(226,106,106,0.85);
}

.snake-overlay {
  background: rgba(235,186,25,0.85);
}

.arty-van-overlay {
  background-color: rgba(221,139,120,0.8);
}

.nextbus-overlay {
  background-color: rgba(144,199,204,0.9);
}

.this-website-overlay {
  background-color: rgba(115,146,184,0.8);
}

.img-overlay {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.img-overlay .img-overlay-bg, .img-overlay .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.img-overlay img {
    display: block;
}

.img-overlay h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 0.9em;
  border-bottom: 1px solid #fff;
  background: transparent;
  margin: 20px 40px 0px 40px;
  padding-bottom: 5px;
  transform: translate(0, -100px);
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate(0, -100px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transform: -moz-translate(0, -100px);
  -moz-transition: all 0.2s ease-in-out;
  -o-transform: -o-translate(0, -100px);
  -o-transition: all 0.2s ease-in-out;
}

.img-overlay p {
  font-size: 0.8em;
  position: relative;
  color: #fff;
  padding: 10px 20px 0;
  text-align: center;
}

.img-overlay a {
  text-decoration: none;
}

.img-overlay a:hover {
  text-decoration: underline;
  color: #fff;
}

.img-overlay img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.img-overlay .img-overlay-bg {
  opacity: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.img-overlay p {
  transform: translate(0, 400px);
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate(0, 400px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transform: translate(0, 400px);
  -moz-transition: all 0.2s ease-in-out;
  -o-transform: translate(0, 400px);
  -o-transition: all 0.2s ease-in-out;
}

.img-overlay:hover .img-overlay-bg {
  opacity: 1;
}

.img-overlay:hover h2 {
  transform: translate(0px,0px);
  transition-delay: 0.3s;
  -webkit-transform: translate(0px,0px);
  -webkit-transition-delay: 0.3s;
  -moz-transform: translate(0px,0px);
  -moz-transition-delay: 0.3s;
  -o-transform: translate(0px,0px);
  -o-transition-delay: 0.3s;
}

.img-overlay:hover p {
  transform: translate(0px,0px);
  transition-delay: 0.4s;
  -webkit-transform: translate(0px,0px);
  -webkit-transition-delay: 0.4s;
  -moz-transform: translate(0px,0px);
  -moz-transition-delay: 0.4s;
  -o-transform: translate(0px,0px);
  -o-transition-delay: 0.4s;
}

footer {
  background-color: rgb(235, 186, 25);
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 1.5em;
}


/* ---- Media Queries ----- */

@media only screen and (min-width: 550px) {
  .background-img {
    background-attachment: fixed;
  }

  .header-content h1 {
    font-size: 4em;
  }

  .header-content p {
    font-size: 2em;
  }

  .img-overlay h2 {
    font-size: 1.3em;
  }

  .img-overlay p {
    font-size: 1em;
  }

  p {
    font-size: 1.5em;
  }

  section ul {
    font-size: 1.2em;
  }

  .cd-timeline-block .cd-timeline-content ul {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .header-content {
    text-align: center;
  }

  .index-nav a {
    font-size: 1.1em;
  }

  .index-icon {
    top: 14px;
    width: 22px;
    height: 22px;
  }

  .icon-social {
    width: 41px;
    height: 41px;
  }

  section {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .img-overlay h2 {
    font-size: 0.9em;
  }

  .img-overlay p {
    font-size: 0.75em;
  }
}


/* Vertical Timeline*/

.timeline {
  position: relative;
  margin-top: 6em;
  margin-bottom: 2em;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}

.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-img {
  position: absolute;
  top: 4px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img.cd-bcs {
  background: rgb(221,139,120);
}

.cd-timeline-img.cd-ibm {
  background: rgb(115,146,184);
}

.cd-timeline-img.cd-tradable {
  background: rgb(235,186,25);
}

.cd-timeline-img.cd-math {
  background: rgb(144,199,204);
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content ul {
  font-size: 13px;
  color: black;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 13px;
  right: 100%;
  height: 0;
  width: 0;
  border: 13px solid transparent;
  border-right: 13px solid white;
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@media only screen and (min-width: 768px) {
  .cd-timeline-img {
    left: 47.3%;
    top: 1%;
    height: 60px;
    width: 60px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }

  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }

  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }

  .timeline {
    margin-bottom: 3em;
  }

  .timeline::before {
    left: 50%;
    margin-left: -2px;
  }

  .cd-timeline-block {
    margin: 4em 0;
  }

  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 40%;
  }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 40%;
    left: 118%;
    top: 2%;
    font-size: 1em;
    font-weight: bold;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }

  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }

  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
