* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  font: 100% 'Lato', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

/*Reset*/

div, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

article, aside, figure, footer, header, nav, section {
  display: block;
}

/*Type*/

h1 {
  font-size: 3.75em;
  font-weight: 300;
}

h2 { 
  font-size: 1.5em; 
  font-weight: 100;
  margin-bottom: 1.5em;
}
.header-info h2{
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  display: inline-block;
  padding: 0.50rem;
  margin-bottom: 1.125em;
}

h3 { 
  font-size: 1.5625em;
  font-weight: normal;
  color: rgb(41, 128, 185);
  margin-bottom: 0.5em;
}
h4{
  font-size: 1.125em;
  font-weight: normal; 
  color: #EA8608;
  margin-bottom: 1em;
}
a, a:visited{
  text-decoration: none;
  color: rgb(41, 128, 185);
}
a:hover{
  text-decoration: underline;
}

p { 
  font-size: 1em;
  margin-bottom: 1em;
}

/*Lists*/

ul { 
  list-style: none; 
}

ol {
  line-height: 1.5;
  list-style-position: inside;
  text-indent: -1em;
  margin-left: 1em;
}

/*Navigation*/

nav {
  background-color: rgba(240, 240, 240, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.125em;
  font-size: 0.875em;
  text-align: center;
}

nav ul {
  margin: 15px 0 0 10px;
  padding: 0;
}

nav li {
  display: inline;
  border-right: 1px solid black;
}
nav li:last-child{
  border-right: none;
}

nav li a {
  color: black;
  margin: 0 10px 0 10px;
  text-decoration: none;
}

nav li a:hover {
  color: rgb(41, 128, 185);
  text-decoration: underline;
}

/*Main*/

header {
  text-align: center;
  color: white;
  display: table;
  height: 100%;
  width: 100%;
}

.header-info {
  background-image: url('../img/vancouver.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.circular {
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 150px;
  border: 1px solid white;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background-image: url('../img/profilepic.jpg');
  background-size: cover;
}

.row {
  max-width: 75em;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  padding-top: 5em;
  padding-bottom: 5em;
}

.row.project-row {
  border-bottom: 1px solid #bdc3c7;
}

.row.project-row:last-child {
  border-bottom: none;
}

.col {
  float: left;
  width: 100%;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

.item {
  margin-bottom: 1.25em;
  text-align: center;  
}

@media screen and (min-width: 48em) {

h1 {
  font-size: 4.6875em;
}

h2 { 
  font-size: 1.875em;
} 

nav ul{
  text-align: left;
}

.circular {
  width: 150px;
  height: 150px;
}

#education .item {
  padding-bottom: 0;
}

.row {
  padding: 2.5em;
}

.row.project-row {
  border-bottom: none;
}

.item {
  width: 50%;
  text-align: left;
}

.down {
  display: block;
  margin-left: 47%;
}
}

#projects, #education {
  text-align: center;
  padding-top: 5em;
  overflow: hidden;
}

#projects {
  background-color: rgb(240, 240, 240);
}

#projects h2, #education h2 {
  margin: 0.875em 0;
  font-size: 2.1875em;
  font-weight: 300;
}

#education {
	background-color: white;
  text-align: center;
}

#education .item {
  text-align: center;
  padding-bottom: 1em;
}

.logo{
  margin-top: 1.5em;
}

.down {
  z-index: 99;
  opacity: 1;
  left: 50%;
  padding-top: 20px;
}

.down:hover {
  opacity: 0.5;
}

/*Footer*/

footer {
  background-color: #666;
}

footer .row {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

footer p {
  margin-bottom: 0;
  color: #FFF;
}

footer a, footer a:visited{
  text-decoration: none;
  color: white;
}

footer a:hover{
  text-decoration: underline;
}
